script(type='text/template', id='neuron_list_template')

script(type='text/template', id='neuron_template')
  span {{body}}
  span {{url}}

script(type='text/template', id='neuron_form_template')

ul#neurons

form#neuron_form
