script(type='text/template', id='list_template')

script(type='text/template', id='neuron_template')
  span {{body}}
  span {{url}}

script(type='text/template', id='form_template')
  input.neuron_input

script(type='application/javascript')