!!! 5
html(lang="en")
  head
    title Synesthesia On Node
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
    #main
    script(type='text/javascript', src='javascripts/jquery.js')
    script(type='text/javascript', src='javascripts/modernizr-2.0.6.js')
    script(type='text/javascript', src='javascripts/underscore.js')
    script(type='text/javascript', src='javascripts/backbone.js')
    script(type='text/javascript', src='javascripts/app.js')
  
