!!! 5
html(lang="en")
  head
    title Synesthesia On Node
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #main
      
      script(type='text/template', id='list_template')
    
      script(type='text/template', id='neuron_template')
        {{body}}
        {{url}}
    
      script(type='text/template', id='form_template')
    
      script(type='application/javascript')
      
    script(type='text/javascript', src='javascripts/jquery.js')
    script(type='text/javascript', src='javascripts/modernizr-2.0.6.js')
    script(type='text/javascript', src='javascripts/underscore.js')
    script(type='text/javascript', src='javascripts/backbone.js')
    script(type='text/javascript', src='javascripts/app.js')
  
