body {
  background: #22252a;
  color: #eee;
  font: normal 1.2em "Trebuchet MS", sans-serif;
}
#main {
  display: inline-block;
  width: 100%;
}
#neurons {
  float: left;
  width: 55%;
}
#neuron_form {
  position: fixed;
  width: 100%;
  bottom: 0;
}
#neuron_form #toolbar {
  background: #0089d3;
  height: 30px;
}
#neuron_form #neuron_input {
  width: 100%;
  padding: 1em;
  background: #22252a;
  color: inherit;
  font: inherit;
  border: none;
}
