body {
  background:black;
  color: #00BCE7;
}

#main {
  display:inline-block;
  width:100%;
}

#neurons {
  float:left;
  width:55%;
}

#neuron_form {
  float:right
  width:40%;
  #neuron_text_area {
    width: 100%;
  }
}

