body {
  background: #000;
  color: #00bce7;
}
#main {
  display: inline-block;
  width: 100%;
}
#neurons {
  float: left;
  width: 55%;
}
#neuron_form {
  float: right;
  width: 40%;
}
#neuron_form #neuron_text_area {
  width: 100%;
}
